---
import ProjectCard from "../components/CardProject.astro";
import { wpquery } from "../graphql/wordPressQuery";
import NavBar from "../components/NavBar.astro";
import Layout from "../Layout/Layout.astro";
import "../index.css"; // Import your CSS here

// Requête GraphQL pour obtenir les vidéos

const data = await wpquery({
  query: `
  {
  photos {
    nodes {
      photos {
        description
        titre
        tags {
          nodes {
            id
            name
          }
        }
        miniature {
          node {
            altText
            sourceUrl
          }
        }
      }
    }
  }
}
  `,
});
---

<html>
  <Layout title="PORTFOLIO" />
  <body>
    <header>
      <NavBar />
    </header>

    <Layout title="PORTFOLIO" />
    <div class="flex justify-center items-center flex-col gap-10 flex-wrap p-5">
      <h1 class="font-truculenta font-black text-black text-6xl">
        Mes photos
      </h1><div
        class="flex flex-row flex-wrap gap-10 w-full items-center justify-center"
      >
        {
          data.photos.nodes.map((photoNode) => (
            <ProjectCard
            
              href={`/pictures/${photoNode.photos.id}`}
              image={photoNode.photos.miniature.node.sourceUrl}
              alt={photoNode.photos.miniature.node.altText}
              title={photoNode.photos.titre}
              description={photoNode.photos.description}
              tags={photoNode.photos.tags}
            />
          ))
        }
      </div>
    </div>
  </body>
</html>
