---
const props = Astro.props;
const { color = "primary", size = "medium", children, href } = props;

const baseStyle =
  "w-max px-6 py-2 font-truculenta font-bold text-base cursor-pointer border-none";

const colorStyles = {
  red: "bg-red text-white",
  black: "bg-black text-white",
  cream: "text-black bg-white",
};

const sizeStyles = {
  small: "px-4 py-2 text-sm",
  medium: "px-8 py-2 text-base",
  large: "px-8 py-4 text-lg",
};
---

<a class={`${baseStyle} ${colorStyles[color]} ${sizeStyles[size]}`} href={href}>
  {children}
</a>
